<h2>Movie Found</h2>
<ul>
  <li><strong>ID:</strong> {{movie.Movie_ID}}</li>
  <li><strong>Title:</strong> {{movie.Title}}</li>
  <li><strong>Director:</strong> {{movie.Director}}</li>
  <li><strong>Genre:</strong> {{movie.Genre}}</li>
  <li><strong>Year:</strong> {{movie.Year}}</li>
</ul>
<a href="/search/id">Search Again</a>
